---
---

@import "{{ site.theme }}";

body{
  background: #000;
  color: #fff;
}

h1, h2, h3, h4, h5, h6{
  color: #fff;
}

a {
  color:#fff;
  text-decoration: underline;
}

a:hover, a:active, a:focus {
  font-weight: inherit;
  color: #fff;
  text-decoration: none;
}

p.title a{
  color: pink;
  font-weight: strong;
  text-decoration: none;
}

p.title a:hover, a:active, a:focus {
  font-weight: inherit;
  color: #fff;
  text-decoration: underline;
}

/* hr{
  border-bottom: 1px solid #eee;
  background: #fff;
  height: 5px;
  width: 50%;
  margin: auto;
  margin-bottom: 5px;
} */

.wrapper {
  width:600px;
  margin:auto;
}

header {
  width:inherit;
  float:none;
  position:relative;
}

section {
  width:inherit;
  float:none;
  padding-bottom:50px;
}


@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
}
