---
---

@import "{{ site.theme }}";

html { font-size: 100%; } // 12px

body{
  background: #000;
  font-size: 1em;
  font-family: garamond, serif;
  color: #ffccff;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffccff;
  font-family: courier new, monospace;
}

blockquote {
  font-style: italic;
  color: #ccff00;
  font-size: 1.5em;
}

a {
  color: #ccff00;
  text-decoration: underline;
}

a:hover, a:active, a:focus {
  font-weight: inherit;
  color: #fff;
  text-decoration: none;
}

p.title a{
  color: #ccff00;
  font-size: 3em;
  text-decoration: none;
  font-family: brush script mt, cursive;
}

p.title a:hover, a:active, a:focus {
  color: #fff;
  text-decoration: none;
}

hr {
  border-top: 1px solid black;
  width: 200px;
  margin: 100px auto;
}

.wrapper {
  width:600px;
  margin:auto;
}

header {
  width:inherit;
  float:none;
  position:relative;
}

section {
  width:inherit;
  float:none;
  padding-bottom:50px;
  border:0px solid #000;
}

.post_thumb {
  width: 120px;
  height: 120px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ffccff;
  position: relative;
  float:left;
}

.post_image {
  opacity: 1;
  display: inline-block;
  object-fit: cover;
  object-position: 50% 0%;
  width: 120px;
  height: 120px;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffccff;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccff00;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
}
